/* CONTAINERS */
.about-details-container {
  background-color: #E9EDF1;
  color: #21232E;
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 56px 0px 0px 0px;
  width: 100%;
  height: 100%;
}

.about-details-body {
  align-items: flex-start;
  color: #373F47;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}
/* ---------- */
h2,
h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}

.about-icon {
  height: 20px;
  margin-right: 3px;
}

.external-link {
  align-items: center;
  display: flex;
  font-size: 18px;
  margin-right: 10px;
}

.about-me-title {
  font-size: 48px;
  color: #373F47;
  margin-bottom: 0;
}

.about-me-sub-heading {
  font-size: 48px;
  margin: 10px 0px 0px 0px;
}

.social-links {
  display: flex;
  max-width: 400px;
  width: 100%;
}

.social-links > li > a {
  display: flex;
  align-items: center;
}

.social-links > li > a:hover {
  color: purple;
}

.text-bio {
  margin-bottom: 20px;
  max-width: 700px;
  width: 100%;
}
