/* CONTAINERS */
.all-resumes-page-container {
  color: #21232E;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 90px 30px;
  width: 100%;
}

.all-resumes-body {
  align-items: flex-start;
  color: rgb(33, 35, 46);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}

.dot {
  margin-right: 10px;
}

.resumes-container {
  border: 1px solid #D0DBF0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px inset;
  max-height: 500px;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  max-width: 99%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  width: 100%;
}
/* ----------- */
.resume-date {
  font-size: 14px;
  font-weight: 400;
}

.resume-left {
  align-items: center;
  display: flex;
}

.resume-name {
  font-family: Menlo, monospace;
  margin-right: 10px;
}

.resume-overview {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px 20px 20px 15px;
}

.break {
  border: 1px solid #D0DBF0
}

/* BUTTONS */
.view-button,
.update-button,
.delete-button {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 8px;
}

.view-button {
  background-color: rgb(79, 101, 241);
  background-image: linear-gradient(90deg, rgb(111, 137, 251) 0%, rgb(97, 109, 245) 33%, rgb(92, 82, 235) 100%);
}

.view-button:hover {
  background-color: rgb(69, 27, 255);
  background-image: none;
}

.update-button {
  background-color: rgb(121, 179, 121);
  margin-left: 10px;
}

.update-button:hover {
  background-color: green;
}

.delete-button {
  background-color: rgb(243, 129, 129);
  margin-left: 10px;
}

.delete-button:hover {
  background-color: red;
}
