/* CONTAINERS */
.create-cover-letter-container {
  color: #21232E;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 90px 30px;
  width: 100%;
}

.create-cover-letter-body {
  align-items: flex-start;
  color: rgb(33, 35, 46);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}
/* ----------- */
.connected {
  align-items: center;
  display: flex;
}

.submit-button-disabled {
  margin-top: 28px;
  align-items: center;
  background-color: #ccc;
  background-image: linear-gradient(90deg, rgb(200, 200, 200) 0%, rgb(180, 180, 180) 33%, rgb(150, 150, 150) 100%);
  border: none;
  border-radius: 6px;
  color: #f8f8f8;
  cursor: not-allowed;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 32px;
  transition: all 250ms ease 0s;
  position: relative;
  transition: color 0.25s 0.08333333333333333s;
  opacity: 0.7;
  pointer-events: none;
}


.loading-icon {
  height: 20px;
  padding: 0px 18px;
}

.link-icon {
  height: 30px;
  padding-left: 5px;
}

.popup {
  align-items: center;
  position: absolute;
  background-color: #21232E;
  border-radius: 8px;
  display: flex;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  z-index: 1000;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.resume-overview {
  transition: all 0.1s ease;
}

.resume-overview.selected {
  background-color: rgba(79, 101, 241, 0.33);
  transform: scaleY(1.03);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.resume-format {
  display: flex;
  align-items: center;
  color: #4F65F1;
}

.submit-cover {
  position: relative;
}

/* BUTTONS */
.resume-connect {
  padding: 10px 15px;
  transition: all 0.1s ease;
}

.resume-connect.selected {
  background-color: #4F65F1; /* Change to desired color when selected */
  color: #ffffff; /* Change to desired text color when selected */
}


/* ---------- */
