/* CONTAINERS */
.create-cover-letter-container {
  color: #21232E;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 90px 30px;
  width: 100%;
}

.create-cover-letter-body {
  align-items: flex-start;
  color: rgb(33, 35, 46);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}
/* ----------- */
.connected {
  align-items: center;
  display: flex;
}

.loading-icon {
  height: 20px;
  padding: 0px 18px;
}

.link-icon {
  height: 30px;
  padding-left: 5px;
}

.resume-overview {
  transition: all 0.1s ease;
}

.resume-overview.selected {
  background-color: rgba(79, 101, 241, 0.33);
  transform: scaleY(1.03);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); /* Adds a subtle shadow */
}

.resume-format {
  display: flex;
  align-items: center;
  color: #4F65F1;
}

/* BUTTONS */
.resume-connect {
  padding: 10px 15px;
  transition: all 0.1s ease;
}

.resume-connect.selected {
  background-color: #4F65F1; /* Change to desired color when selected */
  color: #ffffff; /* Change to desired text color when selected */
}


/* ---------- */
