/* CONTAINERS */
.create-resume-page-container {
  color: #21232E;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  width: 100%;
}

.create-resume-body {
  align-items: flex-start;
  color: rgb(33, 35, 46);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}

/* Error styling */
.create-resume-body > div {
  font-size: 14px;
  font-weight: 400;
}

.form-action {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.form-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.resume-text-box {
  border: 1px solid #D0DBF0;
  border-radius: 6px;
  max-width: 742px;
  padding: 28px 32px;
  width: 100%;
}

.resume-text-box > textarea {
  border: 1px solid #D0DBF0;
  border-radius: 6px;
  max-width: 100%;
  width: 100%;
}

/* ----------- */
