/* CONTAINERS */
.job-modal-body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  max-height: 600px;
  min-height: 300px;
  height: 100%;
  max-width: 1300px;
  min-width: 700px;
  padding: 20px 20px;
  row-gap: 5px;
  width: 100%;
}

.job-modal-desc {
  max-width: 660px;
  max-height: 500px;
  height: 100%;
}
/* ---------- */
.company-name-modal {
  font-size: 16px;
}

.job-characteristics {
  align-items: center;
  display: flex;
}

.job-title-modal {
  font-size: 18px;
  font-weight: 600;
}

.modal-about {
  padding-bottom: 10px;
}

.modal-desc-body {
  padding: 15px 20px;
}

.modal-job-text {
  padding-top: 10px;
  overflow-y: auto;
  max-height: 330px;
}

.posted-date {

}
/* BUTTONS */
.modal-apply-button {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0px;
  max-width: 217px;
  max-height: 44px;
  padding: 12px 16px;
  height: 100%;
}
/* ------- */
