/* CONTAINERS */
.job-search-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}
/* ---------- */
td.apply-cell {
  padding: 20px 0px;
  max-width: 70px;
}

.job-cue {
  color: #4A5C8A;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
  white-space: nowrap;
}

.job-search-box {
  align-items: center;
  border: 1px solid #D0DBF0;
  border-radius: 8px;
  display: flex;
  margin-left: 20px;
  margin-top: 5px;
  min-width: 500px;
  padding: 12px 16px;
}

.job-search-header {
  align-items: center;
  display: flex;
}

.job-search-input {
  border: none;
  min-width: 250px;
}

.job-search-input:focus {
  outline: none;
}

.loading-bars-apply {
  height: 55px;
  padding: 0px;
}

.loading-checkout.loading-search {
  height: 25px;
  padding: 0px;
}

.search-button.search-load-container {
  padding: 8px 27px 6px 27px;
}
/* BUTTONS */
.apply-button {
  font-weight: 600;
  margin-left: 30px;
  padding: 10px 30px;
}

.search-button {
  background-color: #6372F6;
  box-sizing: border-box;
  border: 1px solid #6372F6;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 10px;
  padding: 13px 16px;
}

.search-button:hover {
  background-color: rgb(69, 27, 255);
}
