.letter-text {
  margin: 0;
  max-width: 700px;
}

.copy-icon.copy-cover {
  top: 15px;
  right: 15px;
  height: 23px;
}

.del-cov {
  top: 50px;
  right: 80px
}

.edit-button.edit-cover {
  position: absolute;
  top: 18px;
  right: 50px;
}

.remove-button.remove-cover {
  position: absolute;
  top: 45%;
  right: 170px;
  background: #ed8a83;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  line-height: 1rem;
  z-index: 10;
}

.remove-button.remove-cover:hover {
  background: #f0493d;
}
