.letter-text {
  margin: 0;
  max-width: 700px;
}

.copy-cover {
  top: 20px;
  right: 20px;
  height: 23px;
}

.del-cov {
  top: 0;
  right: 100px
}

.edit-cover {
  position: absolute;
  top: 23px;
  right: 60px;
}

.remove-cover {
  top: 0px;
  right: 170px;
}
