

.optimized-prompt {
  font-family: 'Lato', sans-serif;
}

.prompt-heading {
  font-size: 12px;
  font-weight: 700;
  margin-top: 3px;
  min-width: 100px;
}

.system-message,
.user-message {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  padding: 0px 16px 16px 0px;
  position: relative;
}

.prompt-input-box {
  position: relative;
}
