/* CONTAINERS */

.dashboard-container {
  color: rgb(74, 93, 138);
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  width: 100%;
}

.dashboard-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}

.current-apps-table {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.applications-table {
  width: 100%;
  border-collapse: collapse;
}

.applications-container {
  width: 100%;
}

.applications-table th {
  border-bottom: 1px solid #D0DBF0;
  padding: 5px 0px;
}
.applications-table td {
  border-bottom: 1px solid #D0DBF0;
  padding: 25px 0px;
}

.applications-table .individual-app:hover {
  background-color: rgb(255, 248, 249);
}

/* ------------- */
.column-headings {
  color: #8892B8;
  font-size: 11px;
  width: 100%;
}

.column-name {
  color: #8D96BA;
  text-align: left;
  padding: 4px;
  font-weight: 300;
}

.individual-app {
  color: #4a5d8a;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.resume-deleted-banner {
  background-color: #ff7d7d;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  top: 100px;
  width: fit-content;
  animation: fadeOut 3s forwards;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.table-title {
  color: #21232E;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  width: 100%;
}

th.job-title {
  padding-left: 20px;
}

td.job-title {
  font-weight: 500;
  padding-left: 20px;
}
