/* CONTAINERS */

.dashboard-container {
  color: rgb(74, 93, 138);
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  width: 100%;
}

.dashboard-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}

.current-apps-table {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.applications-table {
  width: 100%;
  border-collapse: collapse;
}

.applications-container {
  width: 100%;
}
/* ------------- */
.individual-app {
  width: 100%;
}

.table-title {
  color: #21232E;
  font-weight: 500;
  width: 100%;
}

.column-headings {
  color: #8892B8;
  font-size: 11px;
  width: 100%;
}

.column-name {
  text-align: left;
  padding: 4px;
}

.job-title {
  width: 25%;
}
