/* CONTAINERS */
.application-details-container {
  background-color: #FBFCFE;
  color: #21232E;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 69px 0px;
  width: 100%;
}

.application-details-body {
  align-items: flex-start;
  color: rgb(33, 35, 46);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}
/* ----------- */
.app-info-box {
  align-items: center;
  background-color: #FBFCFE;
  display: flex;
  justify-content: space-between;
  height: 172.5px;
  max-width: 100%;
  width: 100%;
}

.app-info-left {
  align-items: center;
  display: flex;
}

.app-info-right {
  align-items: center;
  display: flex;
}

.job-title {
  font-size: 24px;
  font-weight: 500;
  margin-right: 15px;
}

.position-type {
  background-color: #F2F2FE;
  margin-right: 10px;
}

.resume-name {
  color: rgb(94, 107,  150);
  font-size: 14px;
  font-weight: 400;
}

.skill {
  margin-right: 7px;
}
