/* CONTAINERS */
.application-details-container {
  background-color: #FBFCFE;
  color: #21232E;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 69px 0px 0px 0px;
  width: 100%;
}

.application-details-body {
  align-items: flex-start;
  color: rgb(33, 35, 46);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  position: relative;
  width: 100%;
}
/* ----------- */
.app-break {
  background-color: #E4E7EB;
  height: 1px;
  width: 100vw;
}


.app-info-box {
  align-items: center;
  background-color: #FBFCFE;
  display: flex;
  justify-content: space-between;
  height: 172.5px;
  max-width: 100%;
  width: 100%;
}

.app-info-left {
  align-items: center;
  display: flex;
}

.app-info-right {
  align-items: center;
  display: flex;
}

.down {
  margin-left: 5px;
}

.job-name {
  font-size: 24px;
  font-weight: 500;
  margin-right: 15px;
}

.manage-menu {
  align-items: center;
  background-color: white;
  border: 1px solid #A2ADD6;
  border-radius: 5px;
  color: #4A5C8A;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  margin-right: 15px;
  justify-content: space-between;
  padding: 10px 10px;
}

.message-recruiter {
  font-size: 14px;
  padding: 9.5px 15px;
}

.position-type {
  background-color: #F2F2FE;
  margin-right: 10px;
}

.resume-name {
  color: rgb(94, 107,  150);
  font-size: 14px;
  font-weight: 400;
}

.skill {
  margin-right: 7px;
}
