/* CONTAINERS */
.splash-page-container {
  align-items: center;
  display: flex;
  font-family: "Inter var","system-ui","Helvetica Neue",Helvetica,Arial,sans-serif;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.splash-nav-container {
  display: flex;
  background-color: #ffffff;
  color: #232a55;
  justify-content: space-between;
  width: 100%;
}
/* ---------------- */
.splash-nav-left {
  padding: 0px 20px;
  font-family: "Inter var","system-ui","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #232a55;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  transform: scaleY(1.1);
}

.splash-nav-right {
  display: flex;
  padding: 0px 20px;
}
