/* CONTAINERS */
.checkout-page-container {
  color: #21232E;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 90px 0px;
  width: 100%;
}

.checkout-page-body {
  align-items: flex-start;
  color: rgb(33, 35, 46);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}
/* ---------- */
.packages-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.checkout-table-title {
  color: rgb(52, 56, 72);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.col-detail {
  color: rgb(33, 35, 46);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 4px;
}

.col-name {
  text-align: left;
  padding: 4px;
}

.column-headings.checkout-headings {
  color: rgb(33, 35, 46);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.indiv-package {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border: 1px solid #D0DBF0;
  border-radius: 6px;
  padding: 10px;
}

.package-title {
  padding-left: 20px;
}
