/* CONTAINERS */
.corr-drop-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: -15px;
  background-color: white;
  border: 1px solid #d0dbf0;
  border-radius: 5px;
  width: 200px;
  z-index: 100;
}

.corr-option {
  align-items: center;
  color: #5E6B96;
  display: flex;
}
/* ---------- */
