/* CONTAINERS */
.corr-drop-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: -15px;
  background-color: white;
  border: 1px solid #d0dbf0;
  border-radius: 5px;
  width: 300px;
  z-index: 100;
}

.corr-option {
  align-items: center;
  box-sizing: border-box;
  color: #4A5C8A;
  display: flex;
  font-size: 15px;
  padding: 10px 20px;
  max-width: 300px;
  width: 100%;
}
/* ---------- */
.corr-option:hover {
  background-color: #d0dbf0;
  color: #4351e8;
}
