/* CONTAINERS */

.loading-page-container {
  color: rgb(74, 93, 138);
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  width: 100%;
}

.loading-page-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  max-width: 1250px;
  min-width: 1065px;
  overflow-x: auto;
  width: 100%;
}

/* ------------ */
.loading-gif {
  height: 150px;
  width: 150px;
  z-index: 999;
}

.loading-message {
  animation: fadeInOut 5s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
