.cover-letter-body {
  display: flex;
  align-items: flex-start;
}

.edit-letter {
  border: none ;
  height: 550px;
  height: 100%;
  height: fit-content;
}

.save-button {
  border: none;
  background-color: #8a97ef;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 10px;
}

.save-button:hover {
  background-color: #6f81f6;
}
